# Dependencies
node_modules/

# Compiled output
dist/

# Test coverage
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Generated Prisma files
/src/generated/prisma

# Logs & OS metadata
*.log
.DS_Store
Thumbs.db

